@use "./../../../..//public/styles/colores.scss";
* {
  font-family: "Oswald";
  margin: 0;
}
img {
    max-width: 100%; 
    height: auto;
   
  }
  
  h2{
    color: blue;
  }
  .togle2{
    margin-bottom: 40px;
  }
  .togle3{
    margin-bottom: 40px;
  }

  .exercise-selection {
    display: flex;
    gap: 20px; 
    margin-bottom: 20px; 
  
    .select-container {
      flex: 1; 
    }
  }
  
  .exercise-results {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px; 
  
    .result-container {
      flex: 1; 
      padding: 10px; 
    }
  }
  