<div class="container">
    <h1>¿Cuál es tu género?</h1>
    <div class="gender-buttons">
        <button [ngClass]="{'selected': isGenderSelected('Masculino')}" (click)="selectGender('Masculino')">Masculino</button>
        <button [ngClass]="{'selected': isGenderSelected('Femenino')}" (click)="selectGender('Femenino')">Femenino</button>
    </div>
    <div class="input-group">
        <div>
            <label for="edad">Edad:</label>
            <input type="text" id="edad" name="edad">
        </div>
        <div>
            <label for="altura">Altura (cm):</label>
            <input type="text" id="altura" name="altura">
        </div>
        <div>
            <label for="peso">Peso (kg):</label>
            <input type="text" id="peso" name="peso">
        </div>
    </div>
    <button [routerLink]="['/rutina']" routerLinkActive="activa"class="boton-iniciar">Iniciar →</button>
</div>
