@use "./../../../../public/sytles/colores.scss";
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
    font-family: Arial, sans-serif;
}
.container {
    background-color: #f3e8ff;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 250px;
    right: 500px;
    left: 500px;
    position: relative;
}
h1 {
    color: #5e2d89;
    font-size: 24px;
    margin-bottom: 20px;
}
.gender-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.gender-buttons button {
    background-color: #f3e8ff;
    border: 2px solid #5e2d89;
    border-radius: 10px;
    color: #5e2d89;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
   &.selected{
    background-color: #6a0dad;
    color: colores.$color-texto;
   }

   &:hover{
    background-color: #5a0c9d;
    color: colores.$color-texto;
   }

}
.gender-buttons button:hover {
    background-color: #e0cfff;
}
.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #5e2d89;
}
.input-group input {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.boton-iniciar {
    background-color: #cdaafc;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    padding: 10px 40px;
    cursor: pointer;
}
.boton-iniciar:hover {
    background-color: #b08efc;
}