@use "./../../../../public/styles/colores.scss";

* {
    font-family: "Oswald";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5e9ff;
    font-family: "Oswald";
    margin: 0;
    position: relative;
}

.container {
    background-color: #f5e9ff;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 10px colores.$color-texto;
    width: 700px; 
    margin: 0 auto; 
    margin-top: 70px;
}

h1 {
    color: colores.$color-principal;
    font-size: 24px;
    margin-bottom: 30px;
}

.options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permitir que las opciones se ajusten */
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    background-color: #e0c3ff;
    border-radius: 10px;
    padding: 30px; /* Hacer los recuadros más grandes */
    margin: 10px;
    width: 200px; /* Aumentar el tamaño de los recuadros */
    height: 100px; /* Aumentar la altura de los recuadros */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: colores.$color-principal;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Suavizar la transición del color de fondo */
}

.option:hover {
    background-color: #d1a3ff; /* Cambiar color de fondo al pasar el mouse */
}

.option.selected {
    background-color: #b394d4; /* Color de fondo para la opción seleccionada */
}

.start-button {
    display: inline-block; /* Hacer que el botón tenga un ancho acorde al texto */
    margin: 30px auto 0; /* Centrando el botón y añadiendo margen superior */
    padding: 15px 30px; /* Aumentar el padding para hacer el botón más grande */
    background-color: #d1a3ff;
    border: none;
    border-radius: 20px;
    color: colores.$color-texto-invertido;
    font-size: 18px; /* Aumentar el tamaño de la fuente */
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Centrar el botón en valores de x */

    &.disabled {
        background-color: colores.$color-texto-invertido;
        pointer-events: none;
        cursor: not-allowed;
    }

    &:hover {
        background-color: colores.$color-principal;
        transform: translateX(-50%) translateY(-5px); /* Efecto de elevación y centrado al pasar el mouse */
        box-shadow: 0 4px 10px colores.$color-terciario; /* Sombra para el botón */
    }
}

/* Estilo para la imagen de Timmy */
.timmy-image {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 250px; /* Ampliar un poco más el tamaño de la imagen */
    height: auto;
}

/* Media queries para hacerlo responsive */

/* Para pantallas medianas (tablets) */
@media (max-width: 900px) {
    .container {
        width: 90%;
        padding: 20px;
        height: auto; /* Permitir altura automática */
    }
    .option {
        width: 45%;
        height: 200px; /* Ajustar altura de las opciones */
        margin: 15px;
    }
}

/* Para pantallas pequeñas (smartphones) */
@media (max-width: 600px) {
    h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .option {
        width: 90%;
        padding: 10px;
        margin: 15px auto;
        height: 140px; /* Ajustar altura de las opciones */
    }
    .start-button {
        padding: 10px 20px;
        font-size: 16px;
    }
    .timmy-image {
        width: 200px;
    }
    .container {
        top: 250px;
        height: auto; /* Permitir altura automática en dispositivos móviles */
    }
}




