<header>
<div class="fondo">
  <img class="logo" src="img/logo.png" alt="Logo de FitPulse">
      <h1>FitPulse</h1>
      <nav>
        <a class="links" href="">Resultados</a>
        <a class="links" [routerLink]="['/modal']" routerLinkActive="activa" >Ejercicios</a>
        <a class="links" [routerLink]="['/yoga']" routerLinkActive="activa">Yogaterapia</a>
        <a class="links" [routerLink]="['/pagina-inicio']">
         <i class='bx bxs-user'> </i>
        </a>
      </nav>
      
      
</div>

</header>