@use "./../../../..//public/styles/colores.scss";
.fondo {
    background-color: rgb(240, 232, 249); 
    padding: 20px 50px;     display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    box-sizing: border-box;
    width: 100%; 
  }
  

  .fondo h1 {
    font-size: 2rem; 
    color: #333; 
    margin: 0; 
    padding: 0;
    margin-right: 20px; 
  }
  
  
  nav {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
  }
  
    .links {
    font-size: 1.5rem; 
    color: #333; 
    text-decoration: none; 
    transition: color 0.3s ease; 
    margin: 0 120px;
    cursor: pointer;
  
    
     
  
    
    
    &:hover {
      color: rgb(50, 50, 50); 
  }
}

.logo img {
  width: 65px; /* Ajuste del tamaño de la imagen */
  height: auto;
  margin-top: 15px; /* Margen superior */
  margin-left: 100px; /* Margen izquierdo */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
  transition: transform 0.3s ease; /* Transición suave para transform */
}


/* Definir la animación de latido de corazón */
@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.3); /* Aumentar más el tamaño */
  }
  40%, 80% {
    transform: scale(1.15); /* Ajustar tamaño intermedio */
  }
}

/* Aplicar la animación al hacer hover */
.logo img:hover {
  animation: heartbeat 0.8s ease-in-out; /* Duración un poco más lenta */
}

  