<div class = "container">
    <div class="forms-container">
        <div class="signin-signup">
            <form action="" class="sing-in-form">
                <h2 class="title">Ingresar</h2>
                <div class="input">
                    <i class='bx bxs-user'></i>
                    <input type="text" placeholder="Usuario">
                </div>
                <div class="input">
                    <i class='bx bxs-lock-alt' ></i>
                    <input type="password" placeholder="Contraseña">
                </div>
                <input type="submit" value="Login" class="btn solid">
                <p class="social-text">O ingresá con plataformas sociales</p>
                <div class="redes-sociales">
                    <a href="#" class="social-icon">
                        <i class='bx bxl-instagram-alt'></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class='bx bxl-tiktok'></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class='bx bxl-twitter'></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    
                </div>
            </form>
        </div>
    </div>
    <div class="panels-container">

    </div>

</div>
