
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
}