<section class="section-1">
  <div>
    <img src="./../../../public/img/Logo-FitPulse.png" alt="Logo-FitPulse">
  </div>

  <div id="spline-container" class="spline-container">
   
  </div>

  <div class="contenedor-principal">
    <h3 class="ejercitarse">Ejercitarse es</h3>
    <h3 class="para-todos">para <span class="resaltado">todos</span></h3>

    <h4>Empezá a través de <span class="resaltado">FitPulse</span></h4>

    <p>Un poco cada día,</p> 
    <p>potenciando tu salud</p>

    <p class="descripcion">Fácil, Inclusivo y Seguro</p>

    <button class="boton-iniciar" [routerLink]="['/login']" routerLinkActive="activa">Iniciar →</button>
  </div>
</section>

<section class="section-2">
  <!-- Nuevo contenido agregado: encabezado con íconos de descarga y flashcards -->
  <div class="header">
    <div class="download-icons">
      <img src="path/to/appstore-icon.png" alt="Consíguelo en App Store" />
      <img src="path/to/googleplay-icon.png" alt="Consíguelo en Google Play" />
    </div>
    <h1>Vos elegís dónde y cómo empezar tu rutina.</h1>
  </div>

  <div class="flashcard-container" >
    <div class="flashcard flashcard-1">
      <div class="content">
        <h2>Empezá hoy:</h2>
        <div class="text">
          <ul>
            <li>A un clic de tu rutina.</li>
            <li>Disponibles 24/7, todos los días, todo el año.</li>
            <li>Opciones 100% adaptadas a tus gustos y necesidades.</li>
          </ul>
        </div>
      </div>
      <div class="image">
        <img src="path/to/image1.png" alt="Personaje Fitness">
      </div>
    </div>

    <div class="flashcard flashcard-2">
      <div class="content">
        <h2>Planes de entrenamiento:</h2>
        <div class="text">
          <ul>
            <li>Beneficia tu resistencia, fuerza y fortificación muscular.</li>
            <li>Controla la duración y dificultad de las series.</li>
            <li>Conoce tus resultados desde la App.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flashcard flashcard-3">
      <div class="content">
        <h2>Sesiones de YogaTerapia:</h2>
        <div class="text">
          <ul>
            <li>Fortalece las articulaciones.</li>
            <li>Mejora tu postura y equilibrio.</li>
            <li>Incrementa la flexibilidad y relajación.</li>
          </ul>
        </div>
      </div>
      <div class="image">
        <img src="path/to/image2.png" alt="Personaje Yoga">
      </div>
    </div>
  </div>
</section>
