@use "./../../../..//public/styles/colores.scss";

/* Estilo del body */
* {
  font-family: "Oswald";
}

body {
  margin: 0;
  padding: 0;
  background-color: colores.$color-texto-invertido;
  cursor: none;
  min-height: 100vh; /* Garantizar altura completa */
  display: flex; /* Flexbox principal */
  flex-direction: column; /* Elementos apilados en columna */
}
.mover {
  position: relative;
  top: 20px; /* Puedes ajustar este valor para mover más o menos */
}

.logo {
  display: flex;
  align-items: center; /* Alinear verticalmente al centro */
}

.logo img {
  width: 65px; /* Ajuste del tamaño de la imagen */
  height: auto;
  margin-top: 15px; /* Margen superior */
  margin-left: 100px; /* Margen izquierdo */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
  transition: transform 0.3s ease; /* Transición suave para transform */
}

.logo h4 {
  margin: 0; /* Eliminar el margen por defecto del h4 */
  padding-top: 15px; /* Alinear verticalmente con la imagen */
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Transición suave */
}

/* Definir la animación de latido de corazón */
@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.3); /* Aumentar más el tamaño */
  }
  40%, 80% {
    transform: scale(1.15); /* Ajustar tamaño intermedio */
  }
}

/* Aplicar la animación al hacer hover */
.logo img:hover {
  animation: heartbeat 1.5s ease-in-out infinite; /* Hacer la animación más lenta */
}


.logo h4:hover {
  color: colores.$color-principal; /* Cambiar color del texto al hacer hover */
  text-shadow: 2px 2px 4px colores.$color-secundario; /* Añadir sombra al texto */
}


.section-2 {
  margin-top: 60px; /* Espacio adicional por si el contenido lo requiere */
  margin-top: 150px;
}
/* Secciones */
.section-1 {
  margin-bottom: 60px; /* Espacio entre section-1 y section-2 */
}

/* Contenedor principal (título, descripción, botón) */
.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 675px;
  padding-left: 30px;
  position: relative; /* Cambiar de absolute a relative */
  margin-bottom: 50px; /* Separación adicional */
  margin-top: 30px; // Mantener el margen superior para separar de la sección anterior

  // Desplazamiento hacia la izquierda
  margin-left: -20px; // Ajusta este valor según sea necesario
}



h3 {
  font-size: 71.4px;
  line-height: 1.3;
  margin: 0;
}

.ejercitarse {
  font-weight: normal;
  color: colores.$color-texto;
  margin-bottom: -1px;
}

.para-todos {
  font-weight: bold;
  color: colores.$color-principal;
  margin-top: 0;
  margin-bottom: 60px;
}

h4 {
  font-size: 35.7px;
  margin-bottom: 38.25px;
  color: colores.$color-texto;
  
  span {
    color: colores.$color-principal;
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Transición suave */
  }
  span:hover{
     /* Cambiar color del texto al hacer hover */
    text-shadow: 2px 2px 4px colores.$color-secundario; /* Añadir sombra al texto */
  }
}

p {
  font-size: 1.6rem; /* En lugar de 25px */
;
  margin: 0 0 25.5px;
}

.descripcion {
  font-size: 1.8rem; /* En lugar de 25px */
;
  color: colores.$color-secundario;
  font-weight: bold;
  margin: 51px 0 25.5px;
}

.boton-iniciar {
  background-color: colores.$color-secundario; /* Usando el color proporcionado */
  color: colores.$color-texto-invertido; /* Supongo que `colores.$color-texto-invertido` es blanco */
  border: none;
  padding: 18.7px 51px;
  border-radius: 30px;
  font-size: 1.5rem; /* En lugar de 25px */;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 38.25px;
  max-width: 382.5px;
  position: relative; /* Necesario para el ::after pseudo-elemento */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
  overflow: hidden; /* Para que el ::after no se desborde */

  &::after {
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    top: -150px;
    left: -20px;
    background-image: linear-gradient(90deg, colores.$color-principal 0%, colores.$color-secundario 100%);
    z-index: -1;
    transition: transform 0.5s ease; /* Transición suave para la rotación */
  }

  &:hover {
    transform: translate(0, -6px);
    box-shadow: 0 0 25px 5px colores.$color-principal, 0 0 25px 5px colores.$color-secundario; /* Sombra al hacer hover */
    
    background-color:colores.$color-principal; /* Cambiar el color de fondo al hacer hover */
  }

  &:hover::after {
    transform: rotate(180deg); /* Rotar el pseudo-elemento al hacer hover */
  }
}


/* Contenedor del iframe */
.spline-container {
  width: 35vw;
  height: 80vh;
  right: 5%;
  position: absolute;
  top: 10%;
  border-radius: 10px;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

/* Encabezado */
.header {
  text-align: center;
  margin-top: 40px;
  position: relative;
}



.download-icons {
  display: flex;
  gap: 20px;
  justify-content: center; /* Cambiar para alinear al centro */
  margin: 0 auto; /* Centrar el contenedor en la página */
}

.download-icons img {
  width: 120px;
  height: auto;
  transition: transform 0.3s ease; /* Añadir transición suave */
}

.download-icons .second-image {
  width: 133px; /* Aumentar el ancho de la segunda imagen en 2px */
}

.download-icons img:hover {
  transform: scale(1.1); /* Aumentar un 10% el tamaño al hacer hover */
}





.header h1 {
  font-size: 2rem;
  color: colores.$color-principal;
  font-weight: bold;
  margin: 20px 0 40px;
}

.header h1 {
  font-size: 3rem; /* Aumentar el tamaño del texto */
  font-weight: bold;
  margin: 20px 0 40px;
  display: block; /* Asegurar que los spans se comporten correctamente */
  line-height: 1.5; /* Aumentar el espaciado entre líneas */
}

.header h1 .texto {
  color: colores.$color-texto; /* Aplicar color para la primera parte del texto */
  display: block; /* Asegurar que ocupe toda la línea */
}

.header h1 .resaltado {
  color: colores.$color-principal; /* Aplicar color para la parte resaltada del texto */
  display: block; /* Asegurar que ocupe toda la línea */
}

/* Flashcards */
.flashcard-container {
  position: relative;
  height: 100vh;
  perspective: 1000px;
  overflow: hidden;
}

.flashcard {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0) scale(0.7); /* Reducir tamaño en un 5% más */
  transition: transform 1s ease, opacity 1s ease;
  width: 60%; /* Reducir tamaño en un 5% más */
  height: 65vh; /* Reducir tamaño en un 5% más */
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  z-index: 0;
  display: flex; /* Añadir flexbox para alinear contenido e imagen */
  flex-direction: row; /* Alinear en fila */
  justify-content: space-between; /* Separar el texto de las imágenes */
}

.flashcard-1 {
  background-color: #4b0082;
}

.flashcard-2 {
  background-color: #A25FE1;
}

.flashcard-3 {
  background-color: #AF6ADB;
}

.flashcard.visible {
  opacity: 1;
  transform: translate(-50%, 0) scale(1);
  z-index: 10;
}

.flashcard.previous {
  transform: translate(-50%, -20%) scale(0.6); /* Reducir tamaño en un 5% más */
  z-index: 5;
}

.flashcard.next {
  transform: translate(-50%, 20%) scale(0.6); /* Reducir tamaño en un 5% más */
  z-index: 5;
}

.flashcard.hidden {
  opacity: 0;
  transform: translate(-50%, 0) scale(0.6); /* Reducir tamaño en un 5% más */
  z-index: 0;
}

.flashcard .content {
  padding: 20px;
  font-size: 1.8rem; /* Aumentar tamaño de la letra */
  color: colores.$color-texto-invertido; /* Cambiar color de la letra */
  width: 55%; /* Extender el texto a lo largo de las flashcards */
  line-height: 2; /* Ampliar espacio de interlineado */
}

.flashcard .image-wrapper {
  width: 45%; /* Ajustar ancho para centrar verticalmente */
  display: flex;
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
}

.flashcard .image img {
  max-width: 100%;
  height: auto;
}

/* Aumentar espacio entre oraciones */
.flashcard li {
  margin-bottom: 15px; /* Espaciado adicional entre las oraciones */
}

/* Añadir sombra al hacer hover en las oraciones */
.flashcard li:hover {
  text-shadow: 2px 2px 6px #87CEEB; /* Sombra más fuerte y visible */
}

/* Destacar títulos (h2) */
.flashcard h2 {
  font-size: 2.5rem; /* Aumentar el tamaño del título */
  font-weight: bold; /* Hacerlo en negrita */
  margin-bottom: 20px; /* Añadir margen inferior */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Añadir sombra para destacar */
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #a25fe1; /* Color base del cursor */
  border-radius: 75%;
  pointer-events: none;
  z-index: 1000;
  box-shadow: 0 0 15px 5px colores.$color-terciario; /* Sombra alrededor del cursor */
  transform: translate(-50%, -50%);
  transition: transform 0.1s, opacity 0.2s;
}



/* Footer */
.footer {
  background-color: #3b3b3b85;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  font-size: 0.9rem;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer .social-icons {
  margin: 15px 0;
  display: flex;
  justify-content: center; /* Centrar los iconos de redes sociales */
  gap: 20px; /* Espacio entre los iconos */
}

.footer .social-icons a {
  margin: 0 10px;
  display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Añadir transición para la sombra */
  color: #fff; /* Asegurar que los iconos sean blancos */
  font-size: 1.5rem; /* Aumentar el tamaño de los iconos */
}

.footer .social-icons a i {
  margin: 0 15px; /* Ampliar el margen alrededor de las etiquetas i */
  transition: transform 0.3s ease, color 0.3s ease; /* Transiciones suaves */
}

.footer .social-icons a:hover i {
  transform: translateY(-5px); /* Elevar el icono al hacer hover */
  color: colores.$color-principal; /* Cambiar color del icono al hacer hover */
}

.footer .footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  transition: color 0.3s ease;
}

.footer .footer-links a:hover {
  color: colores.$color-principal; /* Color de resalte al pasar el mouse */
}


/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  /* Cambiar el orden de los elementos */
  .spline-container {
    position: relative; /* Dejar de usar posición absoluta */
    width: 100%;
    height: 50vh;
    margin: 20px auto;
    order: 1; /* Asegurar que aparezca después del logo */
  }

  .logo {
    order: 0; /* Mantener el logo primero */
    margin-bottom: 20px; /* Añadir espacio entre el logo y spline */
  }

  .contenedor-principal {
    order: 2; /* Los textos van después de spline */
    padding-left: 5px; /* Ajustar padding para pantallas pequeñas */
    text-align: center; /* Centrar el texto */
  }

  /* Ajustes de texto más pequeño en sección 1 */
  .contenedor-principal h3 {
    font-size: 1.5rem; /* Reducir el tamaño del título */
    margin-bottom: 15px; /* Ajustar el espaciado inferior */
  }

  .contenedor-principal p {
    font-size: 2rem; /* Reducir tamaño del texto */
    line-height: 1.4; /* Compactar un poco más */
    margin-bottom: 10px; /* Ajustar márgenes */
  }
  .contenedor-principal h3 {
    font-size: 2rem;
  }
  .contenedor-principal h4 {
    font-size: 1.5rem;
  }

  /* Ajustes para flashcards */
  .flashcard-container {
    padding-bottom: 150px; /* Evitar superposición con el footer */
  }

  .flashcard {
    width: 90%; /* Reducir el tamaño en pantallas pequeñas */
    height: auto; /* Ajustar automáticamente la altura */
    padding: 20px; /* Añadir padding interno */
    flex-direction: column; /* Cambiar a columna en lugar de fila */
  }

  .flashcard .content {
    font-size: 1.2rem; /* Reducir tamaño de letra */
    line-height: 1.5; /* Espaciado más compacto */
    width: 100%; /* Extender el texto completamente */
    margin-bottom: 20px; /* Añadir margen entre texto e imagen */
  }

  .flashcard .image-wrapper {
    width: 100%; /* Ajustar la imagen al ancho disponible */
    margin: 0 auto; /* Centrar imagen */
  }

  .flashcard .image img {
    max-width: 80%; /* Reducir el tamaño de la imagen */
    height: auto;
  }

  /* Reducir margen entre las flashcards y el footer */
  .flashcard:last-child {
    margin-bottom: 20px;
  }
  /* Ajustar el contenedor principal para evitar superposición con el footer */
.contenedor-principal {
  margin-bottom: 100px;
}

.flashcard-container {
  padding-bottom: 200px; /* Más espacio para evitar superposición */
}
}



@media screen and (min-width: 600px) and (max-width: 1023px) {
  /* Tablets */
  h3 {
    font-size: 2.5rem;
  }

  .contenedor-principal {
    width: 85%;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding-left: 20px; /* Mantener padding interno si es necesario */
  }
  

  .flashcard {
    width: 80%;
    height: auto; /* Ajustar automáticamente la altura */
    padding: 20px;
  }

  .flashcard .content {
    font-size: 1.5rem; /* Ajustar tamaño del texto */
  }

  .flashcard .image-wrapper {
    width: 100%; /* Asegurar que la imagen ocupe todo el ancho disponible */
    text-align: center; /* Centrar la imagen */
  }

  .flashcard .image-wrapper img {
    max-width: 100%; /* Asegurar que no exceda el ancho disponible */
    height: auto; /* Mantener la relación de aspecto */
    object-fit: contain; /* Asegurar que toda la imagen sea visible */
  }

  .spline-container {
    width: 50vw;
    height: 60vh;
    top: 5%;
  }

  .download-icons img {
    width: 100px; /* Ajustar tamaño para tablets */
  }

  .footer-content {
    font-size: 0.8rem; /* Reducir el tamaño del texto */
    text-align: center; /* Centrar el texto en el footer */
    padding: 10px; /* Reducir el padding para ganar espacio */
  }
  .footer{
    width: 100%;
  }
}


@media screen and (min-width: 1024px) {
  /* Desktops */
  .contenedor-principal {
    max-width: 60%;
    left: 20%;
  }

  .flashcard {
    width: 60%;
    height: 65vh;
  }

  .spline-container {
    width: 35vw;
    height: 80vh;
  }
}
@media (hover: none) {
  .custom-cursor {
    display: none;
  }
}
