$color-principal: #4B0082;
$color-texto:#1D1D1D;
$color-texto-invertido: #F0EFEF;
$color-secundario:#A25FE1;
$color-terciario: #AF6ADB;
$color-principal-bajado:#a25fe152;
$color-principal-superbajado: #a25fe123;