<app-header></app-header>

<div class="yoga-container">
  <h1>Sesión {{ sessionNumber }}</h1>
  <div class="pose-grid">
    <div class="pose-card" *ngFor="let pose of displayedPoses; let i = index">
      <img [src]="pose.image" alt="Imagen de la pose de yoga" />
      <h2>{{ pose.name }}</h2>
      <p>Respiraciones: {{ pose.breaths }}</p>
      <label>
        <input type="checkbox" [(ngModel)]="completedPoses[i]" (ngModelChange)="updateProgress()" />
        Completado
      </label>
    </div>
  </div>

  <button (click)="completeSet()">Completar Sesión</button>
</div>





















  