@use "./../../../../public/styles/colores.scss";

* {
  font-family: "Oswald", sans-serif; 
  margin: 0;
  padding: 0; 
}



.yoga-container {
  text-align: center;
  padding: 20px;
  background-color: #f3f3f3 !important;
  border-radius: 10px; 
}

h1 {
  font-size: 3rem;
  color: colores.$color-terciario;
  text-shadow: 2px 2px 4px colores.$color-texto;
  margin-bottom: 40px;
  animation: fadeIn 2s ease-in-out;
  letter-spacing: 2px; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pose-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  column-gap: 20px;
  row-gap: 15vh; 
  justify-items: center;
  margin-top: 30px;
}

.pose-card {
  text-align: center;
  background-color: #f3f3f3; 
  border-radius: 10px;
  padding: 15px; 
  box-shadow: 0 4px 10px #7c7c7d; 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.pose-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px colores.$color-secundario; 
}

.pose-card img {
  width: 30%; 
  border-radius: 8px;
  margin-bottom: 15px;
}

.pose-card h2 {
  font-size: 1.5rem;
  color: colores.$color-principal;
  margin-bottom: 10px;
}

.pose-card p {
  font-size: 16px;
  font-weight: bold;
  color: colores.$color-principal;
  margin-top: 10px;
}

.pose-card label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.pose-card input[type="checkbox"] {
  margin-right: 8px;
}

button {
  background-color: colores.$color-secundario;
  color: colores.$color-texto-invertido;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
}

button:hover {
  background: linear-gradient(45deg, colores.$color-principal, colores.$color-secundario);
  transform: scale(1.1);
  box-shadow: 0 4px 15px colores.$color-texto;
}


@media (max-width: 1200px) {
  .pose-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem; 
  }

  .pose-grid {
    grid-template-columns: 1fr; 
    row-gap: 10vh; 
  }

  .pose-card {
    padding: 10px; 
  }

  .pose-card img {
    width: 50%; 
  }

  button {
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem; 
  }

  .pose-card p {
    font-size: 14px; 
  }

  .pose-card h2 {
    font-size: 1.2rem; 
  }
} 








