<div class="container">
    <h1>¿Qué te gustaría trabajar hoy?</h1>
    <div class="options">
        <div class="column">
            <div class="option">Piernas y Glúteos</div>
            <div class="option">Abdomen</div>
        </div>
        <div class="column">
            <div class="option">Espalda y Bíceps</div>
            <div class="option">Pecho, Hombro y Triceps</div>
        </div>
    </div>
</div>
<a [routerLink]="['/modal-datos']" routerLinkActive="activa"  class="start-button">Iniciar →</a>