<div class="container">
    <h1>
     ¿Qué quieres hacer hoy?
    </h1>
    <div class="options">
     <div class="option">
      <img alt="Dibujo de una lata de refresco haciendo ejercicio con pesas" height="200" src="https://storage.googleapis.com/a1aa/image/transparent/hDsKeIDzAJzpWKUz13EgFQDvBSVh0JzPZ0DePydjk9UFeIrnA.png" width="200"/>
      <p>
       EJERCICIO
      </p>
     </div>
     <div class="option">
      <img alt="Dibujo de una figura haciendo yoga" height="200" src="https://storage.googleapis.com/a1aa/image/transparent/9WSGPUONTQIkA5U0i2yrfPvfytRXSUmyQ8uKfdmNeIehwjseE.png" width="200"/>
      <p>
       YOGA
      </p>
     </div>
    </div>
   </div>
