<app-header></app-header>
<div class="results-container">
  <div *ngIf="selectedOptions.includes('Piernas y Glúteos')">
    <h2>Rutina para Piernas y Glúteos</h2>
    <p>Contenido específico para Piernas y Glúteos...</p>
  </div>
  <div *ngIf="selectedOptions.includes('Abdomen')">
    <h2>Rutina para Abdomen</h2>
    <p>Contenido específico para Abdomen...</p>
  </div>
  <div *ngIf="selectedOptions.includes('Espalda y Bíceps')">
    <h2>Rutina para Espalda y Bíceps</h2>
    <p>Contenido específico para Espalda y Bíceps...</p>
  </div>
  <div *ngIf="selectedOptions.includes('Pecho y Hombro y Triceps')">
    <h2>Rutina para Pecho, Hombro y Triceps</h2>
    <p>Contenido específico para Pecho, Hombro y Triceps...</p>
  </div>
</div>

  
