@use "./../../../public/styles/colores.scss";

* {
  font-family: "Oswald", sans-serif; /* Asegurar que la fuente se aplica */
  margin: 0;
}


.results-container {
  text-align: center;
  padding: 20px;
  background-color: #f3f3f3;
}

.section-title {
  font-size: 2rem;
  margin: 30px 0; /* Añadir margen superior e inferior */
  color: #333;
}



.exercise-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas en cada fila */
  column-gap: 20px; /* Espaciado horizontal entre columnas */
  row-gap: 10vh; /* Reducir el espacio entre filas */
  justify-items: center; /* Centrar las tarjetas horizontalmente */
  margin-top: 30px; /* Separar el grid del título */
}

.exercise-card {
  text-align: center;
  background-color: #f3f3f3; /* Fondo claro para contraste */
  border-radius: 10px;
  padding: 30px; /* Ajustar el tamaño de las tarjetas */
  width: 60%; /* Hacer las tarjetas menos anchas */
  box-shadow: 0 4px 10px #7c7c7d; /* Agregar sombra con el color colores.$color-principal */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.exercise-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px colores.$color-secundario; /* Agregar sombra más fuerte en hover */
}

.exercise-card h3 {
  font-size: 1.2rem; /* Reducir el tamaño del texto del título */
  color: #000; /* Cambiar el color del texto a negro */
  margin-bottom: 10px;
}

.exercise-card img {
  width: 60%; /* Mantener el tamaño de las imágenes */
  border-radius: 8px;
  margin-bottom: 15px; /* Separar la imagen del contenido */
}

.details {
  font-size: 20px; /* Mantener el tamaño del texto */
  font-weight: bold;
  color: #000; /* Cambiar el color del texto a negro */
  margin-top: 10px;
}

.details .sets-reps {
  margin-bottom: 5px; /* Espaciado inferior */
  color: colores.$color-principal; /* Mantener el color principal para las repeticiones */
}

.details .status {
  color: #000; /* Cambiar el color del texto a negro */
}

.exercise-card label {
  display: flex;
  justify-content: center; /* Centrar la checkbox */
  align-items: center; /* Centrar verticalmente */
  margin-top: 10px; /* Añadir margen superior */
  font-size: 14px;
  color: #333;
}

.pose-card input[type="checkbox"] {
  margin-right: 8px;
}

.button-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  margin-top: 30px; /* Separar del grid */
}

button {
  background-color: colores.$color-secundario;
  color: colores.$color-texto-invertido;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
}

button:hover {
  background: linear-gradient(45deg, colores.$color-principal, colores.$color-secundario);
  transform: scale(1.1);
  box-shadow: 0 4px 15px colores.$color-texto;
}

/* Media queries para hacerlo responsive */

/* Para pantallas medianas (tablets) */
@media (max-width: 1200px) {
  .exercise-grid {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en tamaños medianos */
    row-gap: 5vh; /* Ajustar el espacio entre filas */
  }

  .exercise-card {
    width: 80%; /* Hacer las tarjetas más anchas */
    padding: 20px; /* Ajustar el padding de las tarjetas */
  }
}

/* Para pantallas pequeñas (smartphones) */
@media (max-width: 768px) {
  .section-title {
    font-size: 1.5rem; /* Ajustar el tamaño del texto */
    margin: 20px 0;
  }

  .exercise-grid {
    grid-template-columns: 1fr; /* Una columna en tamaños pequeños */
    row-gap: 5vh; /* Ajustar el espacio entre filas */
  }

  .exercise-card {
    width: 90%; /* Ajustar el tamaño de las tarjetas */
    padding: 15px; /* Ajustar el padding de las tarjetas */
  }

  .exercise-card h3 {
    font-size: 1rem; /* Ajustar el tamaño del texto del título */
  }

  .exercise-card img {
    width: 80%; /* Ajustar el tamaño de las imágenes */
  }

  .details {
    font-size: 16px; /* Ajustar el tamaño del texto */
  }

  button {
    padding: 8px 16px; /* Ajustar el padding del botón */
  }
}





